<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeetingCost Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MeetingCost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90388CA31D7C44C700CAE70D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>905B3E301D7CBB9000223963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C23BDF1AC75D620054F850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C23BF41AC75D620054F850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
